<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block title %}
    <title>{{ _('HendPOS') }}</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<div class="pan">
<div class="wrapper">
    <div class="header"><p>{{ _('HendPOS') }}</p></div>
    <div class="clear"></div>

    {% block content %}
    <div class="clear"></div>
    <div id="content">
        <fieldset class="main_app">
            <legend>{{ _('Home') }}</legend>
            <button id="sell" type="button">{{ _('Sell [F1]') }}</button>
            <button id="top_up" type="button">{{ _('Top Up [F2]') }}</button>
            <button id="transactions" type="button">{{ _('Tx.Mutations [F3]') }}</button>
            <button id="new" type="button">{{ _('Register [F4]') }}</button>
            <button id="users" type="button">{{ _('Users [F9]') }}</button>
        </fieldset>
        <div class="clear"></div>
        <fieldset class="log">
            <legend>{{ _('Log') }}</legend>
            <div id="log"></div>
            <div id="history"></div>
        </fieldset>
    </div>
    <div class="clear"></div>
    {% endblock %}
</div> <!-- end of wrapper -->
</div>
<div class="clear"></div>
</body>

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<script>
{% set TOP_UP = 1 %}
{% set SELL = 11 %}
{% set ATTENDANCE = 2 %}
var output = '';
window.addEventListener("load", init, false);
$("#new").click(function(){
  window.location = "{{ url_for('user_new') }}"
});
$("#top_up").click(function(){
  {#  where 1 is Credit  #}
  window.location = "{{ url_for('transaction_pre_add', txtype='1') }}"
});
$("#sell").click(function(){
  {#  where 11 is Debit  #}
  window.location = "{{ url_for('transaction_pre_add', txtype='11') }}"
});
$("#attendance").click(function(){
  {#  where 2 is Attendance Credit  #}
  window.location = "{{ url_for('transaction_pre_add', txtype='2') }}"
});
$("#users").click(function(){
  window.location = "{{ url_for('user_list') }}"
});

jQuery("#history").load("{{ url_for('poslog_list') }}");

jQuery('body, input').keydown(function(evt){
    if ( evt.which == Keys._F1 )
    {
        window.location = "{{ url_for('transaction_pre_add', txtype=SELL) }}";
    }
    if ( evt.which == Keys._F2 )
    {
        window.location = "{{ url_for('transaction_pre_add', txtype=TOP_UP) }}";
    }
    if ( evt.which == Keys._F3 )
    {
        window.location = "{{ url_for('transaction_list') }}";
    }
    if ( evt.which == Keys._F4 )
    {
        window.location = "{{ url_for('user_new') }}";
    }
    if ( evt.which == Keys._F9 )
    {
        window.location = "{{ url_for('user_list') }}";
    }
});


</script>
{% endblock%}

</html>
