{% extends 'default/index.html' %}

{% block title %}
<title>{{ _('Transaction List') }}</title>
{% endblock %}

{% block content %}
{% include 'default/flash.html' %}
{% set Balance = 0 %}
{% set User = 1 %}
<fieldset id="legend">
    <legend> {{ _('Legend') }}</legend>
    <label>{{ _('Press F1 for Home') }}</label>
</fieldset>
<fieldset>
    <legend> History </legend>
    <table border="1" class="dedeq">
        <th> No </th>
        <th> {{ _('Date') }} </th>
        <th> {{ _('Username') }} </th>
        <th> {{ _('Type') }} </th>
        <th> {{ _('Balance') }} </th>
        <th> {{ _('Amount') }} </th>
        <th> {{ _('Remain') }} </th>
        {% set counter = 1 %}
        {% for mutation in mutations %}
            <tr>
                <td> {{ counter }}</td>
                <td> {{ mutation[Balance]['tr_date'] }}</td>
                <td> {{ mutation[User]['username'] }}</td>
                <td> {{ mutation[Balance]['txtype_id'] }}</td>
                <td> {{ mutation[Balance]['balance'] }}</td>
                <td> {{ mutation[Balance]['amount'] }}</td>
                <td> {{ mutation[Balance]['remain'] }}</td>
            </tr>
            {% set counter = counter + 1 %}
        {% endfor %}
    </table>
</fieldset>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<script>
jQuery(document).ready(function(){
    jQuery('body, input').keypress(function(evt){
        if ( evt.keyCode == Keys._F1 )
        {
            window.location = "{{ url_for('index') }}";
        }
    });
});
</script>
{% endblock %}
