{% include 'default/flash.html' %}
{% for err in error_message: %}
    <div class="error">{{ err }}</div>
{% endfor %}
<form action="{{ url_for('transaction_add' ) }}" method="post">
    <fieldset>
        <legend> {{ _('Form') }}</legend>
        <input type="hidden" value="{{ txtype_id }}" name="txtype_id" />
        <div >
            <label> {{ _('Card Uid') }} </label>
            <input type="text" value="{{ form['card_uid'] or '' }}" name="card_uid" readonly="readonly" />
        </div>
        <div >
            <label> {{ _('Balance') }} </label>
            <input type="text" value="{{ form['balance'] or '' }}" name="balance" readonly="readonly" />
        </div>
        <div>
            <label> {{ _('Amount') }} </label>
            <input type="text" value="{{ form['amount'] or '' }}" name="amount" placeholder="{{ _('Required') }}" />
        </div>
        <button type="submit" class="btn">Submit</button>
    </fieldset>
</form>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<script>
var re_response = /[^E].*"card": "(.*)".*/;
var index = 1;
function onMessage(evt)
{
    var card_id = evt.data.replace(re_response,"$1");
    if ( evt.data.match(re_response) )
    {
        jQuery("input[name='card_uid']").val(card_id);
    }
    writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>');

    if ( index > 10 )
    {
        $("#log").html('');
        index = 0;
    }
    index++;
}

function filterAmount()
{
    var balance = parseFloat($("[name='balance']").val());
    var amount = parseFloat($("[name='amount']").val());
    var flag = true;
    if ( amount > balance )
    {
        alert("{{ _('Error: Amount is greater than Balance') }}");
        flag = false;
    }
    else if ( amount <= 0 )
    {
        alert("{{ _('Error: Amount is 0 or bad value') }}");
        flag = false;
    }
    else if ( isNaN(amount))
    {
        alert("{{ _('Error: Amount is 0 or bad value') }}");
        flag = false;
    }
    
    if ( flag )
    {
        return true;
    }
    else
    {
        $("[name='amount']").val('');
        $("[name='amount']").focus();
        return false;
    }
}

jQuery(document).ready(function(){
    output = document.getElementById("log");
    jQuery("button#reconnect").click(function(){ testWebSocket(); });
    jQuery("input[name='card_uid']").focus(function(){ doSend("{'mode': 'get_card_id'}"); });
    jQuery("input[name='card_uid']").click(function(){ doSend("{'mode': 'get_card_id'}"); });
    testWebSocket();
    jQuery("[name='amount']").focus();
    jQuery("form").submit(function(){
        var txtype_id = $("[name='txtype_id']").val();
        if ( txtype_id.length == 2)
        {
            return filterAmount();
        }
        return true;
    });
});
</script>
