{% extends 'default/index.html' %}

{% block title %}
<title>{{ _('Transaction View') }}</title>
{% endblock %}

{% block content %}
{% include 'default/flash.html' %}
<fieldset id="legend">
    <legend> {{ _('Legend') }}</legend>
    <label>{{ _('Press F1 for Home') }}</label>
</fieldset>
{% set Balance = 0 %}
{% set User = 1 %}
<fieldset>
    <legend> {{ _('Form') }}</legend>
    <div >
        <label> {{ _('Card Uid') }} </label>
        <input type="text" value="{{ form[Balance]['card_uid'] or '' }}" name="card_uid" />
    </div>
    <div >
        <label> {{ _('Username') }} </label>
        <input type="text" value="{{ form[User]['username'] or '' }}" id="username" readonly="readonly" />
    </div>
    <div >
        <label> {{ _('Balance') }} </label>
        <input type="text" value="{{ form[Balance]['balance'] or '' }}" readonly="readonly" />
    </div>
    <div>
        <label> {{ _('Amount') }} </label>
        <input type="text" value="{{ form[Balance]['amount'] or '' }}" name="amount" />
    </div>
    <div >
        <label> {{ _('Remain') }} </label>
        <input type="text" value="{{ form[Balance]['remain'] or '' }}" />
    </div>
    <div>
        <label> {{ _('TxType') }} </label>
        <input type="text" value="{{ form[Balance]['txtype_id'] or '' }}" name="txtype_id" readonly="readonly" />
    </div>
</fieldset>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<script>
jQuery(document).ready(function(){
    jQuery('body, input').keypress(function(evt){
        if ( evt.keyCode == Keys._F1 )
        {
            window.location = "{{ url_for('index') }}";
        }
    });
});
</script>
{% endblock %}
