{% include 'default/flash.html' %}
{% for err in error_message: %}
    <div class="error">{{ err }}</div>
{% endfor %}
<form action="{{ url_for('transaction_add' ) }}" method="post">
    <fieldset>
        <legend> {{ _('Form') }}</legend>
        <input type="hidden" value="{{ txtype_id }}" name="txtype_id" />
        <div >
            <label> {{ _('Card Uid') }} </label>
            <input type="text" value="{{ form['card_uid'] or '' }}" name="card_uid" placeholder="{{ _('Required, tap the card') }}" />
        </div>
        <div >
            <label> {{ _('Balance') }} </label>
            <input type="text" value="{{ form['balance'] or '' }}" name="balance" placeholder="{{ _('Required') }}" />
        </div>
        <div>
            <label> {{ _('Amount') }} </label>
            <input type="text" value="{{ form['amount'] or '' }}" name="amount" placeholder="{{ _('Required') }}" />
        </div>
        <button type="submit" class="btn">Submit</button>
    </fieldset>
</form>
<fieldset id="log">
    <legend> {{ _('Card System') }}</legend>
</fieldset>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<script>
var re_response = /[^E].*"card": "(.*)".*/;
function onMessage(evt)
{
    var card_id = evt.data.replace(re_response,"$1");
    if ( evt.data.match(re_response) )
    {
        jQuery("input[name='card_uid']").val(card_id);
    }
    writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>');
}

jQuery(document).ready(function(){
    output = document.getElementById("log");
    jQuery("button#reconnect").click(function(){ testWebSocket(); });
    jQuery("input[name='card_uid']").focus(function(){ doSend("{'mode': 'get_card_id'}"); });
    jQuery("input[name='card_uid']").click(function(){ doSend("{'mode': 'get_card_id'}"); });
    testWebSocket();

    jQuery("form").submit(function(){
        var balance = parseFloat($("[name='balance']").val());
        var amount = parseFloat($("[name='amount']").val());

        if ( amount > balance )
        {
            alert({{ _('Error: Amount is greater than Balance') }});
            return false;
        }
        else if ( amount <= 0 )
        {
            alert({{ _('Error: Amount is 0 or bad value') }});
            return false;
        }
        else
        {
            return true;
        }
    });
});
</script>
