{% include 'default/flash.html' %}
{% for err in error_message: %}
    <div class="error">{{ err }}</div>
{% endfor %}
<form action="{{ url_for('user_edit') }}" method="post">
    <fieldset>
        <input type="hidden" value="{{ form['id'] or '' }}" name="id" />
        <div >
            <label> {{ _('Username') }} </label>
            <input type="text" value="{{ form['username'] or '' }}" name="username" placeholder="{{ _('Required') }}" />
        </div>
        <div>
            <label> {{ _('Card No') }} </label>
            <input type="text" value="{{ form['card_no'] or '' }}" name="card_no" placeholder="{{ _('Required') }}" />
        </div>
        <div>
            <label> {{ _('Card UID') }} </label>
            <input type="text" value="{{ form['card_uid'] or '' }}" name="card_uid" placeholder="{{ _('Tap the card') }}" />
        </div>
        <div>
            <label> {{ _('Balance') }} </label>
            <input type="text" value="{{ form['balance'] or '' }}" name="balance" placeholder="{{ _('Insert if any') }}" />
        </div>
        <div>
            <label> {{ _('Date Create') }} </label>
            <input type="text" value="{{ form['date_create'] or '' }}" name="date_create" readonly="readonly" />
        </div>
        <button type="submit" class="btn">Submit</button>
    </fieldset>
</form>
<fieldset id="legend">
    <legend> {{ _('Legend') }}</legend>
    <label>{{ _('Press F1 for Home') }}</label>
</fieldset>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<script>
jQuery(document).ready(function(){
    jQuery('body, input').keypress(function(evt){
        if ( evt.keyCode == Keys._F1 )
        {
            window.location = "{{ url_for('index') }}";
        }
    });
});
</script>
